<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name='yandex-verification' content='7cd440e16ce6e1c3' />

	<title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@evgeniypakalo" />
	<meta name="twitter:creator" content="@evgeniypakalo" />
	
	{% include yametrika.html %}
</head>
